<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir</title>
    <link rel="stylesheet" href="../bootstrap/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
</head>

<body>
    <div class="main-contentTBL">
        <div class="content-table" id="printableContent">

        </div>
    </div>
    
</body>
<script>
    
    
    printable()
    localStorage.clear()


    function printable(){
        const printable = document.getElementById("printableContent")
        printable.innerHTML = localStorage.getItem("content")
        if(localStorage.getItem("export") != null){

            const titlePDF = document.querySelector("h5").textContent.trimEnd()
            html2canvas(printable,{scale:2}).then(canvas => {
                const imgData = canvas.toDataURL('image/png');
                const pdf = new jspdf.jsPDF();
                pdf.addImage(imgData, 'PNG', 25, 68, 160, 0);
                pdf.save(titlePDF+".pdf");
            })

            return
        }

        printable.classList.add("zoom")
        window.print()

    }    

</script>
</html>